

:root {
  --primary: #DFAF49;
  --light-primary: #DFAF4926;
  --text-light: #fff;
  --text-gray: #718096;
  --text: #0F172A;
  /* --font-text: var(--font-inter); */
  /* --font-heading: var(--font-poppins); */
  --gradient-bg:linear-gradient(135deg, #1a202c 0%, #2d3748 50%, #1a202c 100%);
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-body);
  transition:"all 0.3s ease";
  color: var(--text);

}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 34px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  z-index: 1500 !important;
  transition-duration: .5s;
}

.bars {
  width: 100%;
  height: 4px;
  background: linear-gradient(120deg, var(--text), var(--primary));
  border-radius: 4px;
}

#bar2 {
  transition-duration: .8s;
}

#bar1,#bar3 {
  width: 70%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle {
  transition-duration: .5s;
  transform: rotate(180deg);
}